.app-navigation {
  margin: 0;
  padding: 0;
  height: 40rem;
  width: 10rem;
  background-color: @color-primary;
  display: flex;
  flex-direction: column;
}

.app-navigation__list-item {
  list-style-type: none;
}
